{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}{{ customuser.username }}{% endblock %}
{% block contents %}
<h1 class="top-title">{{ customuser.username }}
</h1>
<article class="contents-box">
    <article class="form-area">
        <form method="POST">
        {% csrf_token %}
            <div class="guid-text text-danger">アカウントを本当に削除しますか？
            </div>
            <nav class="button-area">
                <ul>
                    <li><input class="btn btn-outline-danger btn-sm" type="submit" value="削除する"></input></li>
                    <li><a class="btn btn-outline-primary btn-sm" href="{{request.META.HTTP_REFERER}}">戻る</a></li>
                </ul>
            </nav>
        </form>
    </article>
</article>
{% endblock %}
