{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}{{ customuser.username }}{% endblock %}
{% block contents %}
<div class="top-title">{{ customuser.username }}
</div>
<div class="contents-box">
    <div class="form-area">
        <form method="POST">
        {% csrf_token %}
    <div class="post-guid-p text-danger">アカウントを本当に削除しますか？</div>
    <div  class="button-area">
    <input class="btn btn-outline-danger btn-sm" type="submit" value="削除する">
    </input>
    <a class="btn btn-outline-primary btn-sm" href="{{request.META.HTTP_REFERER}}">戻る
    </a>
    </form>
    </div>
    </div>
    </div>
{% endblock %}
