{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block title %}ログイン | STRANALYZE{% endblock %}
{% block contents %}
<h1 class="top-title">ログイン
</h1>
<article class="contents-box">
  <article class="form-area">
    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ field.errors }}
      {{ form.non_field_errors }}
        {% for field in form %}
          <fieldset class="form-group">
            {% if field != form.remember %}
              {{ field | add_class:'form-post-control form-post-font' }}
            {% endif %}
          </fieldset>
        {% endfor %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <div class="button-area">
          <ul>
            <li><input class="btn btn-outline-info btn-sm" type="submit" value="ログイン"></input></li>
            <li><a class="btn btn-outline-primary btn-sm" href="{% url 'account_signup' %}">会員登録</a></li>
          </ul>
        </div>
      <a class="guid-text text-danger border-bottom" href="{% url 'account_reset_password' %}">パスワードをお忘れですか？→</a>
    </form>
  </article>
</article>
{% endblock %}
