{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block title %}パスワード再設定 | STRANALYZE{% endblock %}
{% block contents %}
<h1 class="top-title">パスワード再設定</h1>
<article class="contents-box">
  <article class="form-area">
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
        {% for field in form %}
          <fieldset class="form-group">
            {% if field != form.remember %}
              {{ field | add_class:'form-post-control form-post-font' }}
              {{ field.errors }}
            {% endif %}
          </fieldset>
        {% endfor %}
        {% if redirect_field_value %}
          <fieldset>
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          </fieldset>
        {% endif %}
      <div class="button-area">
        <input class="btn btn-outline-info btn-sm mt-1" type="submit" value="送信"></input>
      </div>
    </form>
  </article>
</article>
{% endblock %}