{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block title %}パスワード再設定 | STRANALYZE{% endblock %}
{% block contents %}
<div class="top-title">パスワード再設定
</div>
<div class="contents-box">
  <div class="form-area">

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
 {% for field in form %}
  <div class="form-group">
      {% if field != form.remember %}
        {{ field | add_class:'form-post-control form-post-font' }}
        {{ field.errors }}
      {% endif %}
  </div>
{% endfor %}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
    <div class="button-area">
      <input class="btn btn-outline-info btn-sm mt-1" type="submit" value="送信"></input>
    </div>
  </form>
</div>
</div>
{% endblock %}