{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %} 投稿者情報 | STRANALYZE {% endblock %}
{% block contents %}
<h1 class="top-title">{{ object.username }}</h1>
<article class="contents-box">
    <article class="profile">
        <img src="
            {% if object.thumbnail %}{{ object.thumbnail.url }}
            {% else %}{% static 'images/no_photo.png' %}
            {% endif %}"
            class="profile-photo"
        >
        <p class="description-border profile-text de-margin">
            {% if object.description %}{{ object.description }}
            {% else %}本文はありません。
            {% endif %}
        </p>
        <ul>
            <li>年齢：
                {% if object.age %}{{ object.age }}
                {% else %}未設定
                {% endif %}
            </li>
            <li>性別：
                {% if object.gender %}{{ object.gender }}
                {% else %}未設定
                {% endif %}
            </li>
            <li>現在のポジション：
                {% if object.position %}{{ object.position }}
                {% else %}未設定
                {% endif %}
            </li>
            <li>競技経験年数：
                {% if object.history %}{{ object.history }}
                {% else %}未設定
                {% endif %}
            </li>
            <li>活動地域：
                {% if object.activity_area %}{{ object.activity_area }}
                {% else %}未設定
                {% endif %}
            </li>
        </ul>
    </article>
    <article>
        <div class="button-area">
            <ul>
                <li><a class="btn btn-outline-primary btn-sm" href="{{ request.META.HTTP_REFERER }}">戻る</a></li>
            </ul>
        </div>
    </section>
</article>
{% endblock %}
