/*画面サイズが800px以下の時、ヘッダーのナビを消す*/
@media screen and (max-width:800px) {
    .header-nav {
         display: none; 
        }
 }

 /*画面サイズが800px以上の時、ヘッダーのナビボタンを消す*/
 @media screen and (min-width: 800px) {
    .nav-button {
         display: none;
     }
    }
 
/*画面サイズが1200px以上の時、ロゴをセンターに持ってくるが、できない*/
 @media screen and (min-width: 1200px) {
 .logo {
    text-align: center;
    }
}
/*
@media screen and (max-width: 700px) {
    .content-info {
       flex-direction: column;
       text-align: center;
       align-items: center;
       }
}
*/
/*post_listの左コンテンツの文字サイズ 画面サイズが1000pxよりも大きければ40px*/


@media screen and (min-width: 400px) {
    .content-description li {
        font-size: 25px;
        margin: 5px  0 2px;
        padding-bottom: 0px;
    }
}

@media screen and (min-width: 300px) {
    .right-content-info {
        margin: 10px 0 3px;
        width: 45%;
        min-width: 250px;
        min-height: 100px;
        }
}

@media screen and (min-width: 769px) {
    .content-description li {
        font-size: 40px;
        margin: 5px 0 20px;
    }
}

@media screen and (min-width: 995px) {
    .content-description li {
        font-size: 50px;
        margin: 10px 0 40px;
    }
}

@media screen and (min-width: 1350px) {
    .content-description li {
        font-size: 70px;
        margin: 15px 0 60px;
    }
}

/*ヘッダー*/
@media screen and (max-width: 440px) {
    .header {
        width: 100%;
        height: 75px;
        padding: 10px 0 10px;
        box-shadow: 0 0 13px 0px #e3e3e3;
        z-index: 6;
    }
}

@media screen and (max-width: 440px) {
    .nav-button {
        display: block;
        width: 25px;
        height: 25px;
        margin-top: 15px;
        background-color:whitesmoke;
        position: fixed;
        right: 20px;
        
        /*margin-top: 30px;
        margin-right: 30px;*/
        z-index: 5;
        box-shadow: 0 0 3px #333;;
    }
}
@media screen and (max-width: 440px) {
.logo {
    width: 200px;
    margin-left: 20px;
    white-space: nowrap;
    font-size: 35px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 440px) {
    .logo a {
        display: block;
        color: #666;
        width: 100%;
        align-items: center;
      }
    }

@media screen and (max-width: 440px) {
    .nav-button div {
        height: 1px;
        width: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: 0.3s;
    }
}
@media screen and (max-width: 440px) {
    .nav-button div:nth-of-type(1){
        transform: translate(-50%,-6px);

    }
}
@media screen and (max-width: 440px) {
    .nav-button div:nth-of-type(3){
    transform: translate(-50%,6px);

    }
}

@media screen and (max-width: 500px) {
    .top-title {
        font-size: 25px;
    }
}

/*indexラケット一覧*/
@media screen and (max-width: 440px) {
    .racket-photo {
        max-width: 100px;
        max-height: 100px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .racket-box {
        /*width: 100%;*/
        max-width: 135px;
        max-height: 220px;
        background-color:gainsboro;
        }

}

@media screen and (max-width: 768px) {
    .racket-title {
        color: black;
        font-size: 15px; 
      }
}

@media screen and (max-width: 480px) {
    .racket-box {
        /*width: 100%;*/
        max-width: 105px;
        max-height: 140px;
        background-color:gainsboro;
    }

}

@media screen and (max-width: 480px) {
    .racket-title {
        color: black;
        font-size: 10px; 
    }
}

@media screen and (max-width: 414px) {
    .racket-box {
        max-width: 90px;
        max-height: 140px;
        background-color:gainsboro;
        }

}

@media screen and (max-width: 414px) {
    .racket-title {
        color: black;
        font-size: 10px; 
    }
}

@media screen and (max-width: 346px) {
    .racket-box {
        max-width: 80px;
        max-height: 140px;
        background-color:gainsboro;
    }
}

@media screen and (max-width: 414px) {
    .cp_link a{
        font-size: 24px;
        margin-top: 0;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .post-guid-p{
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .page-title {
        font-size: 18px;
        margin-bottom: 4px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 500px) {
    .post-area {
        margin-top: 7px;
    }
}


@media screen and (max-width: 500px) {
    .post-info ul {
        line-height: 60%;
        padding: 3px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .post-info li {
        font-size: 5px;
    }
}



@media screen and (max-width: 500px) {
    .post-profile-photo {
        width: 30px;
        height: 30px;
    }
}


@media screen and (max-width: 500px) {
    .post-contents-text p{
        font-size: 13px;
        margin: 3px 0 5px;
    }
}

@media screen and (max-width: 500px) {
    .post-contents-photo {
        width: 40%;
        min-width: 25%;
        max-height: 600px;
        margin: 0 0 5px;
   }
}

@media screen and (max-width: 700px) {
    .button-area {
        margin: 0;
    }
    .button-area a {
        font-size: 2px;
    }
    .button-area input {
        font-size: 2px;
    }
}

@media screen and (max-width: 500px) {
    .button-area {
    }
    .button-area a {
        font-size: 2px;
    }
    .button-area input {
        font-size: 2px;
    }
}
        
@media screen and (max-width: 500px) {
    .like-area p {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .star-yellow {
        color: #ffd700;
        width: 20px;
        height: 20px;
    }
}

/*post create*/
@media screen and (max-width: 500px) {
    .form-post-font {
    font-size: 6px;
    }
}

@media screen and (max-width: 500px) {
  .profile-photo { 
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius:50%;
  }
}

@media screen and (max-width: 500px) {
    .form-group {
        font-size: 7px;
    }
}

@media screen and (max-width: 500px) {
.form-height {
    height: 40px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
.mypage-photo {
    width: 75px;
    height: 75px;
}
}
@media screen and (max-width: 600px) {
    .mypage-profile-info {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .profile-font {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .sidemenu-info {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .sidemenu-button {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .sidemenu-button {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
.login-font-size {
    font-size: 15px;
}
}

@media screen and (max-width: 500px) {
.form-control {
    font-size: 20px;
} 
}

@media screen and (max-width: 720px) {
    .messages{
        height: 10px;
        margin: 0 0 55px;
    }
}

@media screen and (max-width: 500px) {
    .messages{
        height: 10px;
        margin: 0 0 55px;
    }
}

@media screen and (max-width: 720px) {
    .messages-font {
        font-size: 15px;
        padding: 6px 10px;
    } 
    }

@media screen and (max-width: 530px) {
    .messages-font {
        font-size: 10px;
        padding: 6px 10px;
    } 
}

@media screen and (max-width: 480px) {
    .footer-list a {
    font-size: 7px;
}
}


