/*ヘッダー*/
@media screen and (max-width: 500px) {
    .header {
        height: 50px;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        margin:0 0 30px 20px;
        font-size: 20px;
    }
}

/*画面サイズが811px以下*/
@media screen and (max-width:830px) {
    .header-nav {
         display: none; 
    }
}

 /*画面サイズが812px以上*/
 @media screen and (min-width: 831px) {
    .drawer-open-button {
         display: none;
    }
}

@media screen and (max-width: 500px) {
    .drawer-open-button {
        width: 30px;
        height: 30px;
        margin-top: 3px;
        right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .scroll-top {
        right: 10px;
    }
}

@media screen and (max-width: 500px) {
    .drawer-open-button div {
        width: 10px;
    }
}

@media screen and (max-width: 500px) {
    .drawer-open-button div:nth-of-type(1){
        transform: translate(-50%,-6px);
    }
}

@media screen and (max-width: 500px) {
    .drawer-open-button div:nth-of-type(3){
    transform: translate(-50%,6px);
    }
}

@media screen and (max-width: 500px) {
    .header-drawer-nav {
        padding: 50px 45px 30px 0px;
        height: 55%;
    }
    .header-drawer-nav a  {
        width: 100px;
        height: 21px;
        font-size: 20px;
        line-height: 20px;
    }
}

/*index*/
@media screen and (max-width: 500px) {
    .top-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .brand-button {
        padding: 10px 0;
        font-size: 10px;
        font-weight: 300;
    }
}

@media screen and (max-width: 400px) {
    .brand-button {
        font-size: 7px;
    }
}

@media screen and (max-width: 340px) {
    .brand-button {
        font-size: 4px;
    }
}

@media screen and (max-width: 450px) {
    .item-box {
        width: calc(33% - 4px);
        height: calc(33% - 4px);
	    margin: 2px 2px 13px;
	    padding: 1px;
    }
}

@media screen and (max-width: 600px) {
    .item-title li {
        font-size: 8px; 
    }
}

@media screen and (max-width: 500px) {
    .item-title li {
        font-size: 5px; 
        font-weight: 300;
    }
}

@media screen and (max-width: 450px) {
    .item-title li {
        font-size: 3px;
    }
}

@media screen and (max-width: 375px) {
    .item-title ul {
        padding: 1px;
    }
    .item-title li {
        font-weight: 300;
    }
}


/*post-list*/
@media screen and (max-width: 767px) {
    .left-content {
        margin-top: 10px;
    }
}

@media screen and (max-width: 439px) {
    .left-content {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 700px) {
    .right-content {
        margin-top: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 439px) {
    .right-content {
        background-color: #e3e3e3;
        margin: 0;
        min-height: 50px;
        background-image: 
            linear-gradient(#ffffff 1.5px, 
                transparent 1.5px ),
            linear-gradient(to right,
            #ffffff 1.5px, rgb(230, 230, 235) 1.5px);
        background-size: 10px 10px;
    }
}

@media screen and (min-width: 300px) {
    .right-content {
        min-width: 200px;
        min-height: 40px;
    }
}

/*700px以上の時*/
@media screen and (min-width: 700px) {
    .right-content li {
        font-size: 33px;
        margin: 15px 0 15px;
    }
}

/*700px以下の時*/
@media screen and (max-width: 700px) {
    .right-content li {
        font-size: 30px;
        margin: 5px  0 10px;
    }
}

@media screen and (max-width: 550px) {
    .right-content li {
        font-size: 25px;
        margin: 5px 0 10px;
    }
}

@media screen and (max-width: 439px) {
    .right-content li {
        font-size: 15px;
        margin: 3px 0 3px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 539px) {
    .review-link {
        padding: 10px 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 539px) {
    .review-link a{
        padding: 0;
    }
}

@media screen and (max-width: 439px) {
    .review-link a{
        font-size: 22px;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .guid-text {
        font-size: 13px;
        font-weight: 300;
    }
}

@media screen and (max-width: 500px) {
    .post-count {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .post-area {
        margin-top: 7px;
    }
}

@media screen and (max-width: 500px) {
    .post-header img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 500px) {
    .post-header-info ul {
        line-height: 60%;
    }
    .post-header-info li {
        font-size: 5px;
        font-weight: 300;
    }
}

@media screen and (max-width: 500px) {
    .post-contents p {
        font-size: 13px;
        margin: 7px 5px 5px;
    }
}

@media screen and (max-width: 500px) {
    .post-contents img {
        min-width: 25%;
        max-height: 600px;
        margin: 0 0 5px;
   }
}

@media screen and (max-width: 700px) {
    .button-area {
        margin: 0;
    }
    .button-area a {
        font-size: 15px;
    }
    .button-area input {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .button-area a {
        font-size: 15px;
    }
    .button-area input {
        font-size: 15px;
    }
}
        
@media screen and (max-width: 500px) {
    .like-area p {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .star-yellow {
        width: 20px;
        height: 20px;
    }
}

/*delete*/
@media screen and (max-width: 500px) {
    .delete-area p {
        font-size: 15px;
    }
}


/*mypage*/
@media screen and (max-width: 500px) {
    .profile-photo {
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 600px) {
    .mypage-heading {
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
    .mypage-image-email img{
        width: 75px;
        height: 75px;
    }
    .mypage-image-email p {
        font-size: 17px;
        margin: 5px 0;
    }
}

@media screen and (max-width: 500px) {
    .profile{
        margin: 10px 0;
    }
    .profile li {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    .mypage-sidemenu {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .mypage-sidemenu a {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .mypage-sidemenu a {
        font-size: 12px;
    }
}


/*form*/
@media screen and (max-width: 500px) {
    .form-group a {
        font-size: 7px;
        margin: 5px;
    }
}

@media screen and (max-width: 500px) {
    .form-post-font {
        font-size: 6px;
    }
}

@media screen and (max-width: 500px) {
    .form-control {
        font-size: 20px;
    } 
}

@media screen and (max-width: 600px) {
    .login-font-size {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .errorlist ,.nonfield{
        font-size: 10px;
    } 
}


/*message*/
@media screen and (max-width: 720px) {
    .messages {
        height: 10px;
        margin: 0 0 55px;
    }
}

@media screen and (max-width: 500px) {
    .messages {
        height: 10px;
        margin: 0 0 55px;
    }
}

@media screen and (max-width: 720px) {
    .messages-font {
        font-size: 15px;
        padding: 6px 10px;
    } 
    }

@media screen and (max-width: 530px) {
    .messages-font {
        font-size: 10px;
        padding: 6px 10px;
    } 
}

/*pagination*/
@media screen and (max-width: 550px) {
    .page-item a,span {
        font-size: 15px;
        padding: 8px;
    }
}

/*footer*/
@media screen and (max-width: 480px) {
    .footer-nav a {
    width: 70px;
    height: 20px;
    font-size: 7px;
    }
}