{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CSS -->
    <link rel="stylesheet" rel="preload" href="{% static 'css/style.css' %}" as="style">
    <link rel="stylesheet" rel="preload" href="{% static 'css/reset.css' %}" as="style">
    <link rel="stylesheet" rel="preload" href="{% static 'css/responsive.css' %}" as="style">
    <!-- Icon -->
    <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" as="style">
    <!--font-->
    <link rel="stylesheet" rel="preload" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" as="style">
    <link rel="stylesheet" rel="preload" href="https://fonts.googleapis.com/css?family=Kaushan+Script:400,700&display=swap" as="font">
    <link rel="stylesheet" rel="preload" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" as="font">
    <link rel="stylesheet" rel="preload" href="https://fonts.googleapis.com/earlyaccess/hannari.css" as="style">
    <!--font awesome-->
    <link rel="stylesheet" rel="preload" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" as="style">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="sitewrapper">
        <div class="drawer-open-mask" id="drawer-open-mask">
        </div>
        <header class="header">
            <div class="logo"><a href="{% url 'timeline:index' %}">STRAnalyze.</a>
            </div>
            <nav class="header-nav header-button">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'timeline:index' %}">HOME</a></li>
                        <li><a href="{% url 'accounts:mypage' user.pk %}">MYPAGE</a></li>
                        <li><a href="{% url 'account_logout' %}">LOGOUT</a></li>
                    {% else %}
                        <li><a href="{% url 'timeline:index' %}">HOME</a></li>
                        <li><a href="{% url 'account_login' %}">LOGIN</a></li>
                        <li><a href="{% url 'account_signup' %}">SIGNUP</a></li>
                    {% endif %}
                </ul>
            </nav>
            <a class="drawer-open-button" id="drawer-open-button">
                <div></div>
                <div></div>
                <div></div>
            </a>
                <nav class="header-drawer-nav" id="header-drawer-nav">
                    <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'timeline:index' %}">HOME</a></li>
                        <li><a href="{% url 'accounts:mypage' user.pk %}">MYPAGE</a></li>
                        <li><a href="{% url 'account_logout' %}">LOGOUT</a></li>
                    {% else %}
                        <li><a href="{% url 'timeline:index' %}">HOME</a></li>
                        <li><a href="{% url 'account_login' %}">LOGIN</a></li>
                        <li><a href="{% url 'account_signup' %}">SIGNUP</a></li>
                    {% endif %}
                    </ul>
		    <div class="sns-area">
                        <a href="https://twitter.com/STRanalyze" class="color-blue">
                            <img src="{% static 'images/sns-t.webp' %}">
                        </a>
                        <a href="https://www.instagram.com/stranalyze_official/" class="color-orange">
                            <img src="{% static 'images/sns-i.webp' %}">
                        </a>
                    </div>
                </nav>    
        </header>
	<div class="site-information-area">
            {% if request.path != "/site_information/" %}
                <a href="{% url 'timeline:site_information' %}" class="site-information-link bgleft"><span>サイト案内ページ</span></a>
            {% endif %}
            <div class="sns-area">
                <a href="https://twitter.com/STRanalyze" class="color-blue">
                    <img src="{% static 'images/sns-t.webp' %}">
                </a>
                <a href="https://www.instagram.com/stranalyze_official/" class="color-orange">
                    <img src="{% static 'images/sns-i.webp' %}">
                </a>
            </div>
        </div>
    <!--message-->
        {% if messages %}
            <nav class="messages mx-auto">
                <ul class="messages-list-style">
                    {% for message in messages %}
                        <li {% if message.tags %} class="alert-info d-inline-block messages-font"
                            {% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <main role="main">
            <article class="main-flame">
                <div id="scroll-top" class="scroll-top">TOP</div>
                {% block contents %}{% endblock %}
            </article>
        </main>
        <footer class="footer">
            <nav class="footer-nav">
                <ul class="footer-ul">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'timeline:index' %}">home</a></li>
                        <li><a href="{% url 'timeline:contact_form' %}">お問い合わせ</a></li>
                    {% else %}
                        <li><a href="{% url 'timeline:index' %}">home</a></li>
                    {% endif %}
                </ul>
            </nav>
        </footer>
   </div>
<!--JavaScript-->
<script defer src="{% static 'js/drawer-menu.js' %}"></script>
<script defer src="{% static 'js/top-scroll.js' %}"></script>
<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--likejs-->
<script type="text/javascript">
  $(document).ready(function(event){
    $(document).on('click', '#like', function(event){
        event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'timeline:like' %}",
                data: {
                    'post_pk': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                selector = document.getElementsByName(response.post_pk);
                if(response.liked){
                    $(selector).html("<i class='fas fa-lg fa-star star-yellow'></i>");
                }else{
                    $(selector).html("<i class='far fa-lg fa-star star-yellow'></i>");
                }
                selector2 = document.getElementsByName(response.post_pk + "-count");
                $(selector2).text(response.count);
            }
        });
    });
});
</script>    
</body>
</html>
