{% extends 'base.html' %}
{% load static %}
{% block title %}ホーム | STRANALYZE{% endblock %}
{% block contents %}
<form action="{% url 'timeline:index' %}" method="GET">
<ul class="itemMenu">
  <li><p>YONEX</p>
  <ul class="sub">
    <li><input type="submit" name="selected-name" value="YONEX"></input></li>
    <li><input type="submit" name="selected-name" value="VOLTRAGE"></input></li>
    <li><input type="submit" name="selected-name" value="GEOBREAK"></input></li>
    <li><input type="submit" name="selected-name" value="F-LASER"></input></li>
    <li><input type="submit" name="selected-name" value="YONEX_OTHERS"></input></li>
  </ul>
  </li>

  <li><p>MIZUNO</p>
  <ul class="sub">
    <li><input type="submit" name="selected-name" value="MIZUNO"></input></li>
    <li><input type="submit" name="selected-name" value="SCUD"></input></li>
    <li><input type="submit" name="selected-name" value="DIOS"></input></li>
    <li><input type="submit" name="selected-name" value="MIZUNO_OTHERS"></input></li>
  </ul>
  </li>

  <li><p>DUNLOP</p>
  <ul class="sub">
    <li><input type="submit" name="selected-name" value="DUNLOP"></input></li>
    <li><input type="submit" name="selected-name" value="GALAXEED"></input></li>
    <li><input type="submit" name="selected-name" value="JETSTORM"></input></li>
    <li><input type="submit" name="selected-name" value="DUNLOP_OTHERS"></input></li>
  </ul>
  </li>
  </ul>
</form>


<article class="item-container">
  {% for item in item_objects %}
    <section class="item-box">
      <a href="{% url 'timeline:post_list' item.slug %}">
        <img src="
          {% if item.item_photo %}{{ item.item_photo.url}}
          {% else %}{% static 'images/no_str_image.jpeg' %}
          {% endif %}">
        <nav class="item-title">
          <ul>
            <li>{{ item.item_name }}</li>
            <li>{{ item.brand_name }}</li>
          </ul>
        </nav>
      </a>
    </section>
  {% endfor %}
</article>
{% endblock %}
