{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}いいね済みリスト | STRANALYZE{% endblock %}
{% block contents %}
{% if user.is_authenticated %}
<h1 class="top-title">いいね済みリスト</h1>
{% if object_list %}
{% for post in object_list %}
<article class="contents-box">
  <article class="post-header">
    <div class="post-header-photo">
      <a href="{% url 'accounts:reviewer' post.post.author.id %}" >
        <img src="
          {% if post.post.author.thumbnail %}{{ post.post.author.thumbnail.url }}
          {% else %}{% static 'images/no_photo.png' %}
          {% endif %}" >
      </a>
    </div>
    <article>
      <nav class="post-header-info">
        <ul>
          <li><a href="{% url 'accounts:reviewer' post.post.author.id %}" >{{ post.post.author }}</a></li>
          <li><a href="{% url 'timeline:post_list' post.post.item.slug %}" >{{ post.post.item.item_name }}</a></li>
          <li>{{ post.post.created_at | date:"Y年n月j日 H時" }}</li>
        </ul>
      </nav>
      {% if post.post.edited == True %}
      <div class="post-edited-text">（編集済み）
      </div>
      {% endif %}
    </article>
  </article>
  <article class="post-contents">
    {% if post.post.text %}<p class="post-contents-text-mb0">{{ post.post.text }}</p>
    {% else %}<p class="post-contents-text-mb0">未記入</p>
    {% endif %}
    {% if post.post.post_photo %}
      <img src="{{ post.post.post_photo.url }}">
    {% endif %}
  </article>
  <article>
    {% if user.is_authenticated %}
      {% if post.post.author.id == user.id %}
        <nav class="button-area">
          <ul>
            <li><a class="btn btn-outline-info btn-sm" href="{% url 'timeline:post_edit' post.post.item.slug post.post.pk url_value %}">編集</a></li>
            <li><a class="btn btn-outline-danger btn-sm" href="{% url 'timeline:post_confirm_delete' post.post.item.slug post.post.pk url_value %}">削除</a></li>
          </ul>
        </nav>
        <div class="like-area">
          <form method="POST" action="{% url 'timeline:like' %}">
            {% csrf_token %}
            {% if post.post.pk in liked_list %}
              <i class="fas fa-lg fa-star star-yellow" id="like" name="{{post.post.pk}}" 
              ></i>
            {% else %}
              <i class="far fa-lg fa-star star-yellow" id="like" name="{{post.post.pk}}"></i>                  
            {% endif %}
          </form>
          <p name="{{post.post.pk}}-count">{{ post.post.like_set.count }}</p>
      </div>
      {% else %}
      <div class="like-area">
        <form method="POST" action="{% url 'timeline:like' %}">
          {% csrf_token %}
          {% if post.post.pk in liked_list %}
            <i class="fas fa-lg fa-star star-yellow" id="like" name="{{post.post.pk}}" 
            ></i>
          {% else %}
            <i class="far fa-lg fa-star star-yellow" id="like" name="{{post.post.pk}}"></i>                  
          {% endif %}
        </form>
        <p name="{{post.post.pk}}-count">{{ post.post.like_set.count }}</p>
      </div>
      {% endif %}
    {% endif %}
  </article>
</article>
{% endfor %}
{% include 'pagination.html' %}
{% else %}
<p class="guid-text">お気に入りした投稿はありません。</p>
{% endif %}
{% endif %}
{% endblock %}
