{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}いいね済みリスト | STRANALYZE{% endblock %}
{% block contents %}
<div class="top-title">いいね済みリスト
</div>
{% if object_list %}
{% for post in object_list %}
<div class="contents-box">
  <div class="post-header">
    <div class="post-header-photo">
      <a href="{% url 'accounts:reviewer' post.post.author.id %}" >
        <img src="{% if post.post.author.thumbnail %}{{ post.post.author.thumbnail.url }}
          {% else %}{% static 'images/no_photo.png' %}
          {% endif %}" class="post-profile-photo">
        </a>
      </div>
      <div class="post-info">
        <ul>
          <li><a class="post-info-link" href="{% url 'accounts:reviewer' post.post.author.id %}" >{{ post.post.author }}</a></li>
          <li><a class="post-info-link" href="{% url 'timeline:post_list' post.post.product_id.racket_url_name %}" >{{ post.post.product_id.racket_name }}</a></li>
          <li>{{ post.post.created_at | date:"Y年n月j日 H時" }}</li>
        </ul>
      </div>
    </div>
    <div class="post-contents-text">
    {% if post.post.text %}
      <p class="post-contents-text-mb0">{{ post.post.text }}</p>
    {% else %}
      <p class="post-contents-text-mb0">未記入</p>
    {% endif %}
    </div>
    {% if post.post.post_photo %}
      <img class="post-contents-photo" src="{{ post.post.post_photo.url }}">
    {% endif %}
    <div class="like-area">
      <form method="POST">
      {% csrf_token %}
        {% if post.post.pk in liked_list %}
          <div id="like" name="{{ post.post.pk}}"><i class="fas fa-lg fa-star star-yellow"></i>
          </div>
          {% else %}
          <div id="like" name="{{ post.post.pk}}"><i class="far fa-lg fa-star star-yellow"></i>
          </div>      
          {% endif %}
      </form>
    <p name="{{ post.post.pk}}-count">{{ post.post.like_set.count }}</p>
  </div>
</div>
{% endfor %}
{% include 'pagination.html' %}

{% else %}
{% endif %}
{% endblock %}