{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block title %}レビュー編集 | STRanalyze{% endblock %}
{% block contents %}
<div class="top-title">レビュー編集</div>
  <div class="card mb-5">
    <div class="card-body">
    <div class="row">
      <div class="post-profile-photo">
        <img src="{% if user.thumbnail %}{{ user.thumbnail.url }}
        {% else %}{% static 'images/no_photo.png' %}
        {% endif %}" class="post-profile-photo">
      </div>
      <div class="mt-3">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ form.text | add_class:'form-post-control form-post-font' }}
          </div>
          <div class="mt-3 form-post-font">
            {{ form.photo | add_class:'form-post-control form-post-font' }}
          </div>

          <div class="text-center">
            {% if form.instance.img %}
          <img src="{{ form.instance.img }}" class="post-conents-photo mt-1">
            {% else %}
          <img id="mainImage" src="" class="post-contents-photo mt-1">
            {% endif %}
          </div>

          <div  class="group">
            <input class="btn btn-outline-info btn-sm" type="submit" value="保存"></input>
            <a class="btn btn-outline-primary btn-sm" href="{{ request.META.HTTP_REFERER }}">戻る</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}