{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block title %}レビュー編集 | STRANALYZE{% endblock %}
{% block contents %}
{% if user.is_authenticated %}
{% if post.author.id == user.id %}
<h1 class="top-title">レビュー編集</h1>
<article class="contents-box">
  <img src="
    {% if user.thumbnail %}{{ user.thumbnail.url }}
    {% else %}{% static 'images/no_photo.webp' %}
    {% endif %}" class="photo-round">
  <article class="form-area">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <fieldset class="form-group">
        {{ form.text | add_class:'form-post-control form-post-font' }}
        {{ form.error }}
      </fieldset>
      <fieldset class="form-group">
        {{ form.photo | add_class:'form-post-control form-post-font' }}
      </fieldset>
      {{ form.media }}
      <img id="photo-preview" class="preview-post-photo">
      <nav class="button-area">
        <ul>
          <li><input class="btn btn-outline-info btn-sm" type="submit" value="保存"></input></li>
          <li><a class="btn btn-outline-primary btn-sm" href="{{ request.META.HTTP_REFERER }}">戻る</a></li>
        </ul>
      </nav>
    </form>
  </article>
</article>
{% else %}
<p class="guid-text">投稿されたレビューはありません。</p>
{% endif %}
{% endif %}
{% endblock %}
{% block js %}
  <script src="{% static 'js/image-preview.js' %}"></script>
{% endblock %}
