{% extends 'base.html' %}
{% load static %}
{% block title %}投稿リスト | STRANALYZE{% endblock %}
{% block contents %}
<article class="item-content" name="page-top">
  <div class="left-content">
    <img src="
      {% if item_data.item_photo %}{{ item_data.item_photo.url}}
      {% else %}{% static 'images/no_str_image.webp' %}
      {% endif %}">
  </div>
  <div class="right-content">
    <div class="right-square">
    <ul>
      <li>{{ item_data.item_name }}</li>
      <li>{{ item_data.brand_name }}</li>
      <li>{{ item_data.item_position }}</li>
    </ul>
    </div>
  </div>
</article>
{% if user.is_authenticated %}
  <p class="review-link"><a href="{% url 'timeline:post_create' item_data.slug  %}">レビューを投稿する→</a></p>
{% else %}
  <p class="guid-text color-orange">ログインすればレビューを投稿できるようになります。</p>
{% endif %}
<p class="post-count">投稿数：{{ post_count }}件</p>
{% if object_list %}
  {% for post in object_list %}
    <article class="contents-box">
      <article class="post-header">
        {% if user.is_authenticated %}
          <a href="{% url 'accounts:reviewer' post.author.id %}">
            <img src="
              {% if post.author.thumbnail %}{{ post.author.thumbnail.url }}
              {% else %}{% static 'images/no_photo.webp' %}
              {% endif %}">
          </a>
          <nav class="post-header-info">
            <ul>
              <li><a href="{% url 'accounts:reviewer' post.author.id %}">{{ post.author }}</a></li>
              <li>{{ post.created_at | date:"Y年n月j日 H時" }}</li>
            </ul>
          </nav>
	  {% if post.edited == True %}
          <div class="post-edited-text">（編集済み）
          </div>
          {% endif %}
        {% else %}
          <img src="
            {% if post.author.thumbnail %}{{ post.author.thumbnail.url }}
            {% else %}{% static 'images/no_photo.webp' %}
            {% endif %}">
          <nav class="post-header-info">
            <ul>
              <li>{{ post.author }}</li>
              <li>{{ post.created_at | date:"Y年n月j日H時" }}</li>
            </ul>
          </nav>
	  {% if post.edited == True %}
          <div class="post-edited-text">（編集済み）
          </div>
          {% endif %}
        {% endif %}
      </article>
      <article class="post-contents">
        {% if post.text %}
          <p>{{ post.text }}</p>
        {% else %}
          <p>未記入</p>
        {% endif %}
        {% if post.post_photo %}
          <img src="{{ post.post_photo.url }}">
        {% endif %}
      </article>
      <article>
        {% if user.is_authenticated %}
          {% if post.author.id == user.id %}
            <nav class="button-area">
              <ul>
                <li><a class="btn btn-outline-info btn-sm" href="{% url 'timeline:post_edit' item_data.slug post.pk url_value %}">編集</a></li>
                <li><a class="btn btn-outline-danger btn-sm" href="{% url 'timeline:post_confirm_delete' item_data.slug post.pk url_value %}">削除</a></li>
              </ul>
            </nav>
	    {% include 'like.html' %}
          {% else %}
	    {% include 'like.html' %}
          {% endif %}
        {% endif %}
      </article>
    </article>
  {% endfor %}
<!--Pagination-->
{% include 'pagination.html' %}
{% else %}
{% endif %}
<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
