{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}{{ post.username }}{% endblock %}
{% block contents %}
<div class="top-title">レビュー削除
</div>
<div class="post-area">
  <div class="post-header">
    <div class="post-header-photo">
      <img src="{% if post.author.thumbnail %}{{ post.author.thumbnail.url }}
        {% else %}{% static 'images/no_photo.png' %}
        {% endif %}" class="post-profile-photo">
    </div>
    <div class="post-info">
      <ul>
        <li><a class="post-info-link" href="{% url 'accounts:reviewer' post.author.id %}">{{ post.author }}</a></li>
        <li><a class="post-info-link" href="{% url 'timeline:post_list' post.product_id.racket_url_name %}">
        {{ post.product_id.racket_name }}</a></li>
        <li>{{ post.created_at | date:"Y年n月j日 H時" }}</li>
      </ul>
    </div>
  </div>
  <div class="post-contents-text">
    {% if post.text %}
      <p>{{ post.text }}</p>
    {% else %}
      <p>未記入</p>
    {% endif %}
  </div>
  {% if post.post_photo %}
    <img class="post-contents-photo" src="{{ post.post_photo.url }}">
  {% endif %}
</div>
<div class="delete-area">
  <form method="POST">
  {% csrf_token %}
    <p>レビューを本当に削除しますか？</p>
    <div class="button-area">
      <ul>
        <li><input class="btn btn-outline-danger btn-sm" type="submit" value="削除"></input></li>
        <li><a class="btn btn-outline-primary btn-sm" href="{{request.META.HTTP_REFERER}}">戻る</a></li>
      </ul>
    </div>
  </form>
</div>
{% endblock %}