{% extends 'base.html' %}
{% load static %}
{% block js %}
  <script src="{% static 'js/image-preview.js' %}"></script>
{% endblock %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block title %}レビュー編集 | STRANALYZE{% endblock %}
{% block contents %}
<h1 class="top-title">レビュー編集
</h1>
<article class="contents-box">
  <img src="
    {% if user.thumbnail %}{{ user.thumbnail.url }}
    {% else %}{% static 'images/no_photo.png' %}
    {% endif %}" 
    class="photo-round">
  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="form-area">
      <fieldset class="form-group">
        {{ form.text | add_class:'form-post-control form-post-font' }}
      </fieldset>
      <fieldset class="form-group">
        {{ form.photo | add_class:'form-post-control form-post-font' }}
      </fieldset>
      {{ form.media }}
      <img id="photo-preview" class="preview-post-photo">
    </div>
    <nav class="button-area">
      <ul>
        <li><input class="btn btn-outline-info btn-sm" type="submit" value="保存"></input></li>
        <li><a class="btn btn-outline-primary btn-sm" href="{{ request.META.HTTP_REFERER }}">戻る</a></li>
      </ul>
    </nav>
  </form>
</article>
{% endblock %}
