{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}レビュー削除 | STRANALYZE{% endblock %}
{% block contents %}
<h1 class="top-title">レビュー削除
</h1>
<article class="contents-box">
  <article class="post-header">
    <img src="{% if post.author.thumbnail %}{{ post.author.thumbnail.url }}
      {% else %}{% static 'images/no_photo.png' %}
      {% endif %}">
    <nav class="post-header-info">
      <ul>
        <li><a href="{% url 'accounts:reviewer' post.author.id %}">{{ post.author }}</a></li>
        <li><a href="{% url 'timeline:post_list' post.item.slug %}">
        {{ post.item.item_name }}</a></li>
        <li>{{ post.created_at | date:"Y年n月j日 H時" }}</li>
      </ul>
    </nav>
  </article>
  <article class="post-contents">
    {% if post.text %}<p>{{ post.text }}</p>
    {% else %}<p>未記入</p>
    {% endif %}
    {% if post.post_photo %}
      <img src="{{ post.post_photo.url }}">
    {% endif %}
  </article>
</article>
<article class="delete-area">
  <form method="POST">
  {% csrf_token %}
    <p>レビューを本当に削除しますか？</p>
    <nav class="button-area">
      <ul>
        <li><input class="btn btn-outline-danger btn-sm" type="submit" value="削除"></input></li>
        <li><a class="btn btn-outline-primary btn-sm" href="{{request.META.HTTP_REFERER}}">戻る</a></li>
      </ul>
    </nav>
  </form>
</article>
{% endblock %}