{% extends 'base.html' %}
{% load static %}
{% block js %}
  <script src="{% static 'js/image-preview.js' %}"></script>
{% endblock %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block title %}サイト案内 | STRANALYZE{% endblock %}
{% block contents %}
<h1 class="top-title">サイト案内</h1>
<article class="contents-box">
    <div class="site-information-messages">
        <ul>
	    <li>本サイトはソフトテニスラケットのレビューサイトです。<br>
                ログイン後は以下の機能がご利用いただけます。<br>
                レビューの投稿、編集、削除、お気に入り機能、Mypageからのプロフィール編集。
            </li>
            <li class="heading">・レビュー投稿時の注意点...
            </li>
            <li class="simli-red">レビューする際は、誹謗中傷（他人を悪く言うこと。根拠のない事を拡散し、他人の名誉を傷つけること。）を絶対に書かないでください。
              問題が起きた場合、本サイトは一切の責任を負いません。
            </li>
            <li class="heading">・レビュー閲覧時の注意点...
            </li>
            <li>ラケットは以下のような要因によって扱いやすさが変わります。<br>
	        ...使用者の体格、プレースタイル、使用ガット、ポンド数、グリップサイズ、重量カスタムなど<br>
	        どのレビューを参考にするかは各自で判断してください。
	    </li>
	    <li>ラケット一覧は比較的新しいシリーズのものを選定しております。</li>
	    <li>カラーバリエーションやフェイス面積などの詳しい商品情報は、各ブランドの商品ホームページをご覧ください。</li>
	    <li>本サイトからラケットの購入はできません。また販売サイトのページリンクもございません。<br>
	        ラケットを購入したい方は他のサイトや媒体を参考にしてください。</li>
	    <li>一部のラケット画像は著作権の関係上、現在は公表することができません。画像を確認したい方は、各ブランドのホームページをご覧ください。</li>
	    <li>当サイトは不定期でメンテナンスを行います。ご利用できない場合はご了承ください。</li>
        </ul>
    </div>
    <nav class="button-area">
      <ul>
        <li><a class="btn btn-outline-primary btn-sm" href="{{ request.META.HTTP_REFERER }}">戻る</a></li>
      </ul>
    </nav>
</article>
{% endblock %}
